* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}

/* navbar */
.navbar {
  background-color: black;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  list-style-type: none;
  text-transform: capitalize;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  flex-wrap: wrap;
}
.navbar ul li a:hover {
  background-color: white;
  color: black;
  padding: 10px 18px;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  transition-duration: 0.4s;
}

/* konten */
.konten {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}

.konten a img {
  width: 170px;
}

.konten a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.container {
  background-color: #f5f5f5f5;
  border-radius: 20px;
  padding: 30px 60px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.container:hover {
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75) inset;
}

/* footer */
.footer {
  background-color: crimson;
  color: white;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

           /* desktop */              
@media(min-width: 992px) {
  /* navbar */
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .navbar ul li a {
    font-size: 40px;
  }
  .navbar ul {
    gap: 100px;
  }
  
  /* konten */
  .container {
    padding: 110px 160px;
    width: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 28px 23px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 28px 23px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 28px 23px 5px 0px rgba(0,0,0,0.75);
  }
  .container:hover {
    box-shadow: 28px 23px 5px 0px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 28px 23px 5px 0px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 28px 23px 5px 0px rgba(0,0,0,0.75) inset;
  }
  
  .konten a .container img {
    width: 300px;
  }
  .konten a .container h3 {
    font-size: 26px;
  }
  
  /* footer */
  .footer marquee h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }
  .footer marquee {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation: marquee-scroll 5s liner infinite;
  }
}